---
import {
  Card,
  CardContent,
CardDescription,
CardTitle,
} from "@/components/ui/card";
import { Button } from "@components/ui/button";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Lucas11 - CDN">
    <div
  class="flex items-center justify-center h-screen w-screen flex-col scrollbar-hide"
>
  <Card className="w-140">
    <CardTitle className="text-center" id="text">Lucas11's CDN</CardTitle>
    <CardDescription className="text-center" id="text">
        Heres all my public files (pictures, videos and more) in the internet!
    </CardDescription>
    <CardContent className="flex justify-between gap-1">
        <Button id="xo">Xo image (for a bot)</Button>
        <Button id="golden">Cmon the golden?</Button>
        <Button id="notfound">Not found image (for a bot)</Button>
    </CardContent>
    <script>
      import { gsap } from "gsap";
      import { SplitText } from "gsap/SplitText";
      gsap.registerPlugin(SplitText);
        document.getElementById("xo")?.addEventListener("click", (e) => {
            window.location.href = "https://lucas11.dev/cdn/xo.jpg";

        });
        document.getElementById("golden")?.addEventListener("click", (e) => {
            window.location.href = "https://lucas11.dev/cdn/golden.mp4";

        });
        document.getElementById("notfound")?.addEventListener("click", (e) => {
            window.location.href = "https://lucas11.dev/cdn/null.png";
        });
        let split = SplitText.create("#text", {
      type: "words, chars", // only split into words and lines (not characters)
      mask: "words", // adds extra wrapper element around lines with overflow: clip (v3.13.0+)
     // there are many other options - see below for a complete list
    });
    gsap.from(split.words, {
    y: 100,
    opacity: 0.2,
    duration: 0.2,
    ease: "power4",
    stagger: 0.1
  })
    </script>
  </Card>
</div>

</Layout>
