---
import { Button } from "@/components/ui/button";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Lucas11 - 404!">
  <div
    class="flex items-center justify-center h-screen w-screen flex-col no-scrollbar overflow-y-auto"
  >
    <p class="text-center text-xl">404! Go to home or check the link.</p>
    <Button asChild variant="outline">
      <a href="/">Go to home.</a>
    </Button>
  </div>
</Layout>
