---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Mail } from "lucide-react";
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
import { Github, Discord } from "simple-icons-astro";
if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="Lucas11 - Sign in">
  <div
    class="flex items-center justify-center h-screen w-screen flex-col scrollbar-hide"
  >
    <Card className="w-100">
      <CardHeader>
        <CardTitle className="text-center text-3xl">Sign in</CardTitle>
        <CardDescription className="text-center"
          >New here? <a href="/register">Create an account</a></CardDescription
        >
      </CardHeader>
      <CardContent>
        <form action="/api/signin" method="post">
          <Label htmlFor="email">Email</Label>
          <Input type="email" name="email" id="email" />
          <Label htmlFor="password">Password</Label>
          <Input type="password" name="password" id="password" />
        </form>
      </CardContent>
      <CardFooter className="flex justify-between">
        <form action="/api/signin" method="post">
          <Button type="submit"><Mail /> Login with Email</Button>
          <Button value="github" name="provider" type="submit"
            ><Github />Sign in with GitHub.</Button
          >
        </form>
      </CardFooter>
      <CardFooter>
        <Button value="discord" name="provider" type="submit"
          ><Discord />Sign in with Discord.</Button
        >
      </CardFooter>
    </Card>
  </div>
</Layout>
