---
import Logo from "@/assets/logo.svg";
import { Image } from "astro:assets";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { MagicCard } from "@components/magicui/magic-card";
import { Button } from "@/components/ui/button";
import { Github, Discord } from "simple-icons-astro";
---

<div
  class="flex items-center justify-center h-screen w-screen flex-col scrollbar-hide"
>
  <Card>
      <CardContent className="flex justify-between">
      <Image src={Logo} alt="My profile" width={100} height={100} />
      <p class="w-70 text-right text-[15px]">
        Welcome to my website! Heres all my projects and thingys all in one.
      </p>
    </MagicCard>
    <CardFooter className="flex justify-between">
      <Button asChild variant="outline">
        <a href="https://discord.com/channels/@me/544510731186601984/">
          <Discord class="mr-2" /> Discord
        </a>
      </Button>
      <Button asChild variant="outline">
        <a href="https://github.com">
          <Github class="mr-2" /> Github
        </a>
      </Button>
    </CardFooter>
    <p class="text-gray-500 text-right">Made with 💖 - By Lucas11</p>
  </Card>
</div>
