---
import Logo from "@/assets/logo.svg";
import { Image } from "astro:assets";
import {
  Card,
  CardContent,
  CardFooter,
} from "@/components/ui/card";
---

<div
  class="flex items-center justify-center h-screen w-screen flex-col scrollbar-hide"
>
  <Card>
    <CardContent className="flex justify-between">
      <Image src={Logo} alt="My profile" width={100} height={100} />
      <p class="w-70 text-right text-[15px]">
        Welcome to my website! Heres all my projects and thingys all in one.
      </p>
    </CardContent>
    <CardFooter>
      <p class="text-gray-500 text-right flex">
        Made with Love - By Lucas11
      </p>
    </CardFooter>
  </Card>
</div>
