---
import Logo from "@/assets/logo.svg";
import { Image } from "astro:assets";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="flex items-center justify-center h-screen w-screen flex-col">
  <Card>
    <CardContent>
      <Image
        class="mx-auto w-64 h-64"
        src={Logo}
        alt="My profile"
        width={300}
        height={300}
      />
    </CardContent>
    <CardContent>
      <p class="text-center text-xl">
        Welcome to my website! Heres all my projects and thingys all in one.
      </p>
    </CardContent>
  </Card>
</div>
