---
import Logo from "@/assets/keychain-front.png";
import { Image } from "astro:assets";
import {
  Card,
  CardContent,
} from "@/components/ui/card";
import Layout from "@layouts/Layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Lucas11 - Projects">
    <div
  class="flex items-center justify-center h-screen w-screen flex-col scrollbar-hide"
>
  <Card>
    <CardContent className="flex justify-between">
      <Image src={Logo} alt="Keychain project!" width={200} height={200} rounded-lg/>
      <p class="w-70 text-right text-[15px]">
        Heres all my public projects that i did! Theres some PCBs, some Javascript and more!
    </p>
    </CardContent>
  </Card>
</div>

</Layout>
