---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import FrontBoard from "@/assets/keychain-front.png";
import BackBoard from "@/assets/keychain-back.png";
import { Image } from "astro:assets";
---

<Layout>
    <div
    class="flex items-center justify-center h-screen w-screen flex-col scrollbar-hide"
  >
  <Card>
    <CardHeader>
      <CardTitle id="text">Lucas11's Keychain.</CardTitle>
      <CardDescription id="text">An keychain for my house keys. (Highway Project)</CardDescription>
    </CardHeader>
    <CardContent className="flex justify-between">
        <Image src={FrontBoard} alt="The front board" width={200} height={200} />
        <Image src={BackBoard} alt="The back board" width={200} height={200} />
    </CardContent>
    <CardContent className="flex justify-between">
        <p class="text-center text-[15px]">
            What does it has? It just an keychain with a happy led face.
        </p>
    </CardContent>
    <CardContent className="flex justify-between">
        <Button id="github">Go to the Github</Button>
    </CardContent>
  </Card>
  </div>
  <script >
            document.getElementById("github")?.addEventListener("click", (e) => {
                window.location.href = "https://github.com/lucas11222/Lucas11-Keychain";

        });
        import { gsap } from "gsap";
    import { TextPlugin } from "gsap/TextPlugin";
    import { SplitText } from "gsap/SplitText";
    gsap.registerPlugin(TextPlugin , SplitText);
    let split = SplitText.create("#text", {
      type: "words, chars", // only split into words and lines (not characters)
      mask: "words", // adds extra wrapper element around lines with overflow: clip (v3.13.0+)
     // there are many other options - see below for a complete list
    });
    gsap.from(split.words, {
    y: 100,
    opacity: 0.2,
    duration: 0.2,
    ease: "power4",
    stagger: 0.1
  })
  </script>
</Layout>
