---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
const counter = 0;
---

<Layout>
  <Card>
    <CardHeader>
      <CardTitle>Luguno - Russian version.</CardTitle>
      <CardDescription>Test your skills with a quiz!</CardDescription>
    </CardHeader>
    <CardContent className="flex justify-between">
      <p class="text-center text-[15px]">
        Placeholder (i dont have any word to put here)
      </p>
    </CardContent>
    <CardContent className="flex justify-between">
      <Input />
    </CardContent>
    <CardContent className="flex justify-between">
        <Button>Submit</Button>
        <Button>Restart</Button>
    </CardContent>
    <p class="text-gray-500 text-center">Made for a friend.</p>
  </Card>
</Layout>
