---
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div
    class="flex items-center justify-center h-screen w-screen flex-col scrollbar-hide"
  >
    <Card className="w-100">
      <CardHeader>
        <CardTitle id="text">RanBoom</CardTitle>
        <CardDescription id="text" className="w-70 text-[15px]"
          >An website that you press an button and it has 1 of 1000 that the website deletes itself.</CardDescription
        >
      </CardHeader>
      <CardFooter className="flex justify-between gap-1">
        <Button id="button">Open the website!</Button>
        <Button id="button2">Open the Github</Button>
      </CardFooter>
      <script>
        document.getElementById("button")?.addEventListener("click", (e) => {
            window.location.href = "https://ranboom.altamiranolucas2013.workers.dev/";

        });
        document.getElementById("button2")?.addEventListener("click", (e) => {
            window.location.href = "https://github.com/lucas11222/RanBoom";

        });
        import { gsap } from "gsap";
    import { TextPlugin } from "gsap/TextPlugin";
    import { SplitText } from "gsap/SplitText";
    gsap.registerPlugin(TextPlugin , SplitText);
    let split = SplitText.create("#text", {
      type: "words, chars", // only split into words and lines (not characters)
      mask: "words", // adds extra wrapper element around lines with overflow: clip (v3.13.0+)
     // there are many other options - see below for a complete list
    });
    gsap.from(split.words, {
    y: 100,
    opacity: 0.2,
    duration: 0.2,
    ease: "power4",
    stagger: 0.1
  })
      </script>
    </Card>
  </div>
</Layout>
